<main
  class="flex min-h-screen flex-col items-center justify-center gap-6 bg-gray-100 px-5 py-12 text-gray-900 text-center md:text-start md:flex-row lg:gap-12"
>
  <div class="max-w-prose space-y-3">
    <img
      ngSrc="/assets/images/logo.png"
      alt="Logo"
      width="150"
      height="150"
      class="mx-auto md:ms-0"
    />
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      Create the
      <span
        class="inline-block bg-gradient-to-r from-green-600 to-green-400 bg-clip-text text-transparent"
      >
        Perfect Resume
      </span>
      in Minutes
    </h1>
    <p class="text-lg text-gray-500">
      Our <span class="font-semibold">AI resume builder</span> helps you craft professional resumes,
      even if you&apos;re not smart.
    </p>
    <a routerLink="/resumes" hlmBtn variant="premium"> Get started </a>
  </div>
  <div>
    <img
      ngSrc="/assets/images/resume-preview.jpg"
      alt="Resume Preview"
      width="600"
      height="800"
      class="shadow-md lg:rotate-[1.5deg]"
      priority="true"
    />
  </div>
</main>
